body {
    font-family: Arial, Helvetica, sans-serif;
    background: #23242a;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title,
.subtitle {
    color: #fff;
    z-index: 3;
}

/* New starts here */

.dropdown {
    position: sticky;
    top: -45px;
    display: inline-block;
    z-index: 5;
}

.dropdown-btn {
    background-color: #2a2f3b;
    width: 250px;
    color: white;
    padding: 20px 25px;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 10px;
    cursor: pointer;
    margin: 50px 0 0px;
}

.dropdown-btn.active {
    border: 2px solid greenyellow;
}

.dropdown-btn:hover {
    background: #484e5a;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content input {
    padding: 8px 16px;
    margin-top: 0;
    margin-bottom: 12px;
    border: none;
    border-radius: 4px;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.dropdown-content li {
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}

.dropdown-content li:hover {
    /* background-color: #f1f1f1; */
    color: #fff;
}

.show {
    display: block;
}

#overlay-1 {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 4;
}

#overlay-1.active {
    opacity: 1;
    pointer-events: all;
}

#overlay-2 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    pointer-events: all;
    z-index: 2;
}

#overlay-2.remove {
    opacity: 0;
    pointer-events: none;
}

/* New ends here */

/* .dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}
*/

.menu {
    list-style: none;
    /* padding: 0.2em 0.5em; */
    background: #ffffff;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #f9fafb;
    position: absolute;
    /* top: 3em;
    left: 50%; */
    width: 100%;
    /* transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1; */
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2a2d35;
}

/*
.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
} */

.pre {
    display: none;
}

.sprites {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 500px;
    height: 150px;
    padding: 20px;
    margin-top: 50px;
}

.sprite-normal,
.sprite-shiny {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#normal-sprite,
#shiny-sprite {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sprite-img {
    background: #2a2f3b;
    margin: 10px;
    border-radius: 10%;
}

.type {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 500px;
    height: 90px;
    margin-bottom: 20px;
}

.type-1,
.type-2 {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-type,
#second-type {
    margin-top: 20px;
}

.stats {
    width: 350px;
    color: #fff;
    background: #2a2f3b;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin: 0px auto 25px;
}

#stats-title {
    align-self: center;
}

.container {
    width: 100%;
    background-color: #323741;
    height: 18px;
    margin-bottom: 12px;
}

.stat,
.total-stats {
    color: white;
}

.stats-style {
    margin-top: 5px;
}

.table {
    color: #fff;
    width: 500px;
    background: #2a2f3b;
    border-radius: 25px;
    padding: 25px 50px 50px;
    margin-bottom: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    align-items: center;
}

#table-title {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

th,
td {
    text-align: center;
    height: 25px;
    border: 3px #2a2f3b solid;
    border-radius: 10px;
}

th {
    background-color: #9c9da2;
    color: black;
}

tr {
    background-color: #3a3f4a;
}

td:first-child {
    width: 30%;
}

td:nth-child(2) {
    width: 70%;
}

td:nth-child(2):hover {
    cursor: pointer;
    background-color: #9c9da2;
    color: black;
}

.move-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-right: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.move-popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.move-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.move-header .move-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.move-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.move-body {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 8;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.move-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.move-type,
.base-power,
.accuracy,
.damage-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    background-color: #b0b3b9;
    border: none;
    border-radius: 5px;
}

#move-type-title,
#base-power-title,
#accuracy-title,
#damage-class-title,
#move-description-title,
#move-effect-title {
    padding: 5px;
}

#move-type-value,
#base-power-value,
#accuracy-value,
#damage-class-value,
#move-description-value,
#move-effect-value {
    padding: 5px;
    color: white;
}

.move-description,
.move-effect {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px 10px;
    background-color: #b0b3b9;
    border: none;
    border-radius: 5px;
}

.move-effect {
    margin-bottom: 8px;
}